<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="box" id="heading">

        <h1>
            <%= listTitle %>
        </h1>

    </div>

    <div class="box">

        <% for(x in newListItem){%>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%=newListItem[x]%>
                </p>
            </div>

            <% } %>


                <form action="/" method="post">
                    <input type="text" name="item" id="" autofocus required placeholder="New item" autocomplete="off">
                    <button type="submit" name="List" value="<%= listTitle %>">+</button>
                </form>
    </div>
    <h3>
        R.P.S
    </h3>
</body>

</html>