html {
  background-color: rgb(15, 15, 15);
  max-width: auto;
  width: auto;
  font-family: 'helvetica neue';
  animation-name: bgc;
  animation-duration: 6s;

}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 10px 10px 15px -5px rgb(0, 0, 0);

}

#heading {
  background-color: rgb(0, 177, 150);
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(0, 177, 150);
  ;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: rgb(0, 177, 150);
}

input[type="checkbox"] {
  margin: 20px;

}

.largecheckbox {
  width: 25px;
  height: 25px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: rgb(0, 177, 150)
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 40px;
  width: 45px;
  border-radius: 100%;
  border-color: transparent;
  background-color: rgb(0, 177, 150);
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  margin-left: 18px;
}

input[type="text"] {
  text-align: center;
  height: 50px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;


}

input[type="text"]:focus {
  outline: none;
  caret-color: rgb(255, 255, 255);
  color: rgb(0, 177, 150);
  /* border: #E4E9FD 2px ridge; */
  /* box-shadow: inset 0 -3px 0 0 rgb(0, 69, 137); */
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {


  text-align: center;
}

h2 {
  text-align: center;
  color: rgb(15, 15, 15);

}

@keyframes bgc {
  from {
    background-color: rgb(1, 124, 124);
  }

  to {
    background-color: rgb(15, 15, 15);
  }
}